.alert{class: "alert-#{class_name} fade in"}
  - if defined?(icon)
    %span.glyphicon{class: icon}
  - if defined?(closable) && closable && closable == true
    %button{class: 'close', 'data-dismiss': 'alert'} ×
  = message
